---
---

@import "{{ site.theme }}";
.section {
  width: 600px !important;
}

.card-wrapper {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  align-items: flex-start; /* Align cards to the left */
  gap: 20px; /* Space between the cards */
}

.container-card {
  position: relative;
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height to make it square */
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 25px;
  padding: 15px 10px 15px 20px;
  display: block;
  text-decoration: none;
  box-sizing: border-box; /* Ensure padding is included in the width/height */
  z-index: 1; 
}

.bg-green-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013); /* Mimicking the white bordered card */
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 25px; /* Match your card's border-radius */
}

.container-card.bg-green-box {
  background: linear-gradient(71deg, #080509, #1a171c, #080509); /* Black gradient background */
  border-radius: 25px;
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e); /* Mimicking the blue bordered card */
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 25px; /* Match your card's border-radius */
}

.container-card.bg-blue-box {
  background: linear-gradient(71deg, #080509, #1a171c, #080509); /* Black gradient background */
  border-radius: 25px;
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 5px;
  z-index: 2;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  max-width: 470px;
  z-index: 2;
}

@keyframes fadeGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
