---
---

@import "{{ site.theme }}";
.section {
  width: 600px !important;
}
.square {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: linear-gradient(45deg, #27038C, #7258B9, #27038C, #0097F5);
    background-size: 300% 300%;
    animation: fadeGradient 10s ease-in-out infinite;
}

.square-content {
    position: absolute;
    top: 0;  /* Align text to the top */
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;  /* Align content to the top */
    flex-direction: column;
    align-items: flex-start;  /* Align content to the left */
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    padding: 20px;  /* Add padding all around */
    box-sizing: border-box;  /* Include padding in the width calculation */
}

.square-content ul {
    color: lightgray;
    padding-left: 20px;  /* Ensure consistent padding for list items */
}

@keyframes fadeGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
