---
---

@import "{{ site.theme }}";
.section {
  width: 600px !important;
}

.card-wrapper {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  align-items: flex-start; /* Align cards to the left */
  gap: 20px; /* Space between the cards */
}

.container-card {
  position: relative;
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height to make it square */
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 25px;
  padding: 30px;
  display: block;
  text-decoration: none;
  box-sizing: border-box; /* Ensure padding is included in the width/height */
}

.bg-green-box {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
  background-size: 300% 300%;
  animation: fadeGradient 10s ease-in-out infinite;
}

.bg-blue-box {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
  background-size: 300% 300%;
  animation: fadeGradient 10s ease-in-out infinite;
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  max-width: 470px;
}

@keyframes fadeGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
